{% extends "partials/_window.twig" %}

{% block content %}
<div class="window-content-wrapper">
    <div class="window-padding">
        <p class="resume-title">stephen_barkan_resume.pdf</p>
        <a target="_blank" href="https://drive.google.com/file/d/1I0WrTjWGUGIxVBjYMZghegOX8R9nkG7L/view"
           class="button resume-button">
            <div class="button-icon button-icon-resume"></div>
        </a>
    </div>
</div>
{% endblock content %}