{% extends "partials/_window.twig" %}

{% block content %}
<div class="window-content-wrapper" tabindex="0">
    <div class="window-padding">
        <div class="about-window__wrapper">
            {{options.about_me}}
        </div>
    </div>
</div>

{% endblock content %}