*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: rgba(var(--mainTextColor), 1);
  color: rgba(var(--mainBackgroundColor), 1);
}

// a:focus {
//   outline: none;
// }

html {
  @extend %body;
  font-weight: 400;
  color: rgba(var(--mainTextColor), 1);
  scroll-behavior: smooth;
}

body {
  background-color: rgba(var(--mainBackgroundColor), 1);
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;

  @media (min-width: 500px) {

    overflow: inherit;
    position: static;

    &.window-open {
      overflow: hidden;
      position: fixed;
    }
  }
}

*::placeholder {
  color: rgba(var(--lightTextColor), 1);
  font-size: var(--type-default);
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

html[data-theme="dark"] {

  img,
  video,
  .me-image {
    opacity: 0.85;
  }
}