html {
  --mainBackgroundColor: 255, 253, 245;
  --windowBackgroundColor: 255, 255, 255;

  --mainTextColor: 0, 0, 0;
  --lightTextColor: 135, 135, 135;
  --grey: 189, 189, 189;
  --lightGrey: 239, 239, 239;
  --midGrey: 231, 231, 231;

  --aboutColor: 255, 173, 14;
  --lightAboutColor: 255, 245, 221;

  --workColor: 85, 71, 236;
  --lightWorkColor: 238, 235, 244;

  --meColor: 252, 102, 79;
  --lightMeColor: 255, 237, 228;

  --resumeColor: 15, 189, 168;
  --lightResumeColor: 238, 247, 240;
  --midResumeColor: 13, 165, 147;

  --contactColor: 21, 166, 248;
  --lightContactColor: 237, 246, 246;
  --midContactColor: 7, 154, 236;

  // --pink: #EE7FAE;
  // --medium-pink: #F1B7CF;
  // --light-pink: #fdf0ee;
}

html[data-theme="dark"] {
  --mainBackgroundColor: 34, 30, 36;
  --windowBackgroundColor: 45, 43, 49;

  --mainTextColor: 204, 204, 204;

  --lightTextColor: 179, 179, 179;
  --grey: 135, 135, 135;
  --lightGrey: 72, 73, 81;
  --midGrey: 189, 189, 189;

  --lightMeColor: 110, 48, 43;
  --meColor: 199, 85, 70;

  --workColor: 103, 94, 201;
  --lightWorkColor: 55, 52, 96;

  --aboutColor: 207, 155, 58;
  --lightAboutColor: 120, 93, 43;

  --resumeColor: 33, 156, 141;
  --lightResumeColor: 12, 85, 76;
  --midResumeColor: 31, 147, 134;

  --contactColor: 19, 121, 180;
  --lightContactColor: 3, 64, 99;
  --midContactColor: 23, 139, 207;
}