html {
  --windowBackgroundColor: #ffffff;
  --mainBackgroundColor: rgb(var(--mainBackgroundColorBase));
  --mainBackgroundColorBase: 255, 253, 245;

  --mainTextColor: #000000;
  --lightTextColor: #878787;
  --grey: #bdbdbd;
  --lightGrey: #efefef;
  --midGrey: #e7e7e7;

  --aboutColor: #ffad0e;
  --lightAboutColor: #fff5dd;
  // --midYellow: #FFDCA1;

  --workColor: #5547ec;
  --lightWorkColor: #eeebf4;
  // --midPurple: #CCC7F2;

  --meColor: #fc664f;
  --lightMeColor: #ffede4;
  // --midRed: #fdcbbf;

  --resumeColor: #0fbda8;
  --lightResumeColor: #eef7f0;
  --midResumeColor: #0da593;

  --contactColor: #15a6f8;
  --lightContactColor: #edf6f6;
  --midContactColor: #079aec;

  // --pink: #EE7FAE;
  // --medium-pink: #F1B7CF;
  // --light-pink: #fdf0ee;
}

html[data-theme="dark"] {
  --windowBackgroundColor: #2d2b31;
  --mainBackgroundColorBase: 34, 30, 36;

  --mainTextColor: #cccccc;

  --lightTextColor: #b3b3b3;
  --grey: #878787;
  --lightGrey: #484951;
  --midGrey: #bdbdbd;

  --lightMeColor: #6e302b;
  --meColor: #c75546;

  --workColor: #675ec9;
  --lightWorkColor: #373460;

  --aboutColor: #cf9b3a;
  --lightAboutColor: #785d2b;

  --resumeColor: #219c8d;
  --lightResumeColor: #0c554c;
  --midResumeColor: #1f9386;

  --contactColor: #1379b4;
  --lightContactColor: #022d46;
  --midContactColor: #178bcf;
}
