.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 1.5rem;
  min-height: 100%;
  overflow-y: scroll;

  @media (max-width: 374px) {
    padding: 1rem;
  }

  h1 {
    max-width: calc((14.5 * 1em));
    @extend %h1;
  }

  nav {
    @extend %h1;
    margin-top: 0.6em;
  }
}

#me {
  color: rgba(var(--meColor), 1);
}

#work {
  color: rgba(var(--workColor), 1);
}

#about {
  color: rgba(var(--aboutColor), 1);
}

#resume {
  color: rgba(var(--resumeColor), 1);
}

#contact {
  color: rgba(var(--contactColor), 1);
}

.windows-container {
  position: absolute;
  width: 1400px;
  max-width: 100%;
  height: 900px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.headline-text-link {
  text-decoration: none;
  position: relative;
  white-space: nowrap;

  &::before {
    position: absolute;
    bottom: 0.05em;
    left: 0;
    right: 0;
    content: "";
    border-width: 2px;
    border-bottom-style: solid;
    transition: $timing var(--easing);
    opacity: 0;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }
}

.headline-link-span {
  display: block;
  white-space: nowrap;
}

.close-all {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-transform: uppercase;
  @extend %extra-small-text;
  text-decoration: none;
  align-items: center;
  border: rgba(var(--lightTextColor), 1) 1px solid;
  padding: 0.6rem 0.4rem;
  transition: $timing ease-in-out;
  z-index: 98234;
  visibility: hidden;
  color: rgba(var(--lightTextColor), 1);
  transform: translateY(2rem);
  opacity: 0;
  display: none;
  @extend %mono;
  background-color: rgba(var(--mainBackgroundColor), 0.3);

  &.visible {
    visibility: hidden;
    opacity: 1;
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    background-color: rgba(var(--mainTextColor), 1);
    color: rgba(var(--mainBackgroundColor), 1);
    border: rgba(var(--mainTextColor), 1) 1px solid;
  }
}

@media #{$breakpoint-more-than-small} {
  .close-all.visible {
    visibility: visible;
  }

  .close-all {
    display: flex;
  }

  .home-wrapper {
    padding: 5.5vw;

    h1 {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .headline-link-span {
    display: inline;
    white-space: normal;
  }

  .close-all {
    padding: 0.6rem;
  }
}

.rotate-pls {
  display: none;
  background-color: rgba(var(--mainTextColor), 1);
  color: rgba(var(--mainBackgroundColor), 1);
  @extend %h1;
  @extend %clearface;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 901991029309;
  justify-content: center;
  align-items: center;
  border: 0.5rem rgba(var(--mainBackgroundColor), 1) solid;

  @media (max-height: 450px) {
    display: flex;
  }
}

.fade-overlay {
  opacity: 1;
  background: rgba(var(--mainBackgroundColor), 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: all 1.5s var(--easing);
  transition-property: opacity, visibility;

  &.removed {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}