#project-window {
    --singleSpacing: 30vh;

    & .window-title {
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %clearface;
    @extend %h2;
    background-color: rgba(var(--windowBackgroundColor), 1);

    span {
        opacity: 0;
        animation: loading-fade-in .7s 1s both;

        @keyframes loading-fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.single-meta {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    justify-content: space-between;
    padding-top: .25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(var(--grey), 1);
    margin: 0 auto;

    @media (min-width: 860px) {
        grid-template-columns: max-content minmax(200px, 420px) auto;
    }

    h6 {
        @extend %mono;
        @extend %extra-small-text;
        text-transform: uppercase;
        display: block;
        color: rgba(var(--lightTextColor), 1);
    }

    p {
        @extend %mono;
        @extend %smaller-text;
        text-transform: none;
        color: rgba(var(--mainTextColor), 1);
    }

    a {
        color: inherit;
        display: block;
    }
}


.single-link,
.single-via,
.single-services {
    --space: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &>* {
        margin: 0;
    }

    &>*+* {
        margin-top: var(--space);
    }
}

.single-services {

    span {
        &::after {
            content: ',';
        }

        &:last-child::after {
            content: '';
        }
    }
}


.single-content {
    padding: 2rem 0;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        max-width: 44ch;
        margin-right: auto;
        margin-left: auto;
        box-sizing: content-box;
        padding-left: 0;
        padding-right: 0;
    }

    &> :first-child {
        margin-top: 0;
    }

    &> :last-child {
        margin-bottom: 0;
    }

    h3 {
        @extend %body;
        @extend %h3;
        font-weight: 500;
        margin-top: var(--singleSpacing);
        width: auto;
    }

    h4 {
        @extend %h4;
        margin: 1em auto;
        position: relative;
        margin-top: var(--singleSpacing);
        text-align: center;
    }

    h4+h4 {
        margin-top: 1em;
        margin-bottom: var(--singleSpacing);
    }

    figure {
        margin-bottom: var(--singleSpacing);
        margin-top: var(--singleSpacing);
        padding-left: 0;
        padding-right: 0;

        img,
        video,
        svg {
            width: 800px;
            height: auto;
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        figcaption {
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            color: rgba(var(--lightTextColor), 1);
            width: 800px;
            max-width: 100%;
            font-weight: normal;
            @extend %mono;
            text-align: left;
            border-top: 1px solid rgba(var(--grey), 1);
            padding-top: 1rem;
            line-height: 1.7;
            @extend %smaller-text;
            margin-top: 2rem;
            padding-right: 10vw;

            & a {
                color: rgba(var(--lightTextColor), 1);
                transition: $timing var(--easing);

                &:hover,
                &:focus {
                    color: rgba(var(--mainTextColor), 1);
                }
            }
        }

        &.full-width {
            padding: 0;
            width: 100%;

            img,
            video,
            svg {
                margin: 0 -.75rem;
                height: auto;
                width: calc(100% + 1.5rem);
                max-width: calc(100% + 1.5rem);
            }


            figcaption {
                margin-left: 0;
            }
        }

        &.small {

            img,
            video,
            svg {
                width: 600px;
            }
        }

        &.mobile {

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 1.25rem;
                border-radius: 3px;
                height: 6px;
                width: 2.5rem;
                left: 50%;
                transform: translateX(-50%);
                font-size: 4rem;
                line-height: 0;
                background-color: rgba(var(--windowBackgroundColor), 1);
            }

            img,
            video,
            svg {
                width: 300px;
                border: 10px rgba(var(--midGrey), 1) solid;
                border-radius: 1.5rem;
                background: rgba(var(--midGrey), 1);
                padding-bottom: 2rem;
                padding-top: 2rem;
            }
        }

        &.large {
            width: 1000px;
            max-width: calc(100% - 1.5rem);
            margin-left: auto;
            margin-right: auto;

            img,
            video,
            svg {
                margin: 0 auto;
                height: auto;
                width: 100%;
            }

            figcaption {
                margin-left: 0;
                width: 100%;
            }
        }

        &.webpage {

            &::after {
                content: '•••';
                display: block;
                position: absolute;
                top: 8px;
                left: 4px;
                font-size: 2rem;
                line-height: 0;
                color: rgba(var(--windowBackgroundColor), 1);
            }

            video {
                border: 1px rgba(var(--midGrey), 1) solid;
                border-radius: 4px;
                background: rgba(var(--midGrey), 1);
                padding-top: 1rem;
            }
        }
    }
}



@media #{$breakpoint-more-than-small} {
    #project-window {
        --singleSpacing: 32vh;

        & .window-title {
            display: block;
        }
    }

    .single-content {

        // & h1,
        // h2,
        // h3,
        // h4,
        // h5,
        // h6,
        // p,
        // ul {
        //     padding-left: .75rem;
        //     padding-right: .75rem;
        // }

        h3 {
            margin-top: var(--singleSpacing);
        }

        h4 {
            margin-top: var(--singleSpacing);
        }

        h4+h4 {
            margin-top: 1em;
            margin-bottom: var(--singleSpacing);
        }

        figure {
            margin-top: var(--singleSpacing);
            margin-bottom: var(--singleSpacing);
            // padding-left: .75rem;
            // padding-right: .75rem;
        }
    }

}


@media #{$breakpoint-more-than-medium} {
    #project-window {
        --singleSpacing: 35vh;
    }

    .single-content {

        // & h1,
        // h2,
        // h3,
        // h4,
        // h5,
        // h6,
        // p,
        // ul {
        //     padding-left: 3rem;
        //     padding-right: 3rem;
        // }

        h3 {
            margin-top: var(--singleSpacing);
        }

        h4 {
            margin-top: var(--singleSpacing);
        }

        h4+h4 {
            margin-top: 1em;
            margin-bottom: var(--singleSpacing);
        }

        figure {
            margin-top: var(--singleSpacing);
            margin-bottom: var(--singleSpacing);
            // padding-left: 3rem;
            // padding-right: 3rem;
        }

    }
}