h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %clearface;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1+h1 {
    margin-top: 0;
}

///////////////////////////////////////////////////////////////////////////////////////////

html {
    font-size: var(--type-default);
    line-height: 1.7;
}

p,
ul {
    // width: 100%;
    max-width: 47ch;

    & a {
        color: rgba(var(--mainTextColor), 1);
        transition: $timing var(--easing);

        &:hover,
        &:focus {
            color: rgba(var(--mainTextColor), .5);
        }
    }
}


%small-text {
    $map: (500px: 15px, 1500px: 17px);
    @include poly-fluid-sizing('font-size', $map);
}

%smaller-text {
    $map: (500px: 14px, 1500px: 15px);
    @include poly-fluid-sizing('font-size', $map);
}

%extra-small-text {
    $map: (500px: 12px, 1500px: 12px);
    @include poly-fluid-sizing('font-size', $map);
}

.emoji {
    font-size: 2em;
    line-height: 1;
}

:root {
    $map: (500px: 16.5px, 1500px: 18px);
    @include poly-fluid-sizing('--type-default', $map);

    $map: (500px: 18px, 1500px: 21px);
    @include poly-fluid-sizing('--type-md', $map);

    $map: (500px: 20px, 1500px: 23px);
    @include poly-fluid-sizing('--type-lg', $map);

    $map: (500px: 24px, 1500px: 40px);
    @include poly-fluid-sizing('--type-xl', $map);

    $map: (500px: 30px, 1500px: 56px);
    @include poly-fluid-sizing('--type-xxl', $map);

    $map: (500px: 34px, 1500px: 64px, 2400px: 70px);
    @include poly-fluid-sizing('--type-xxxl', $map);
}