h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %clearface;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

    &+& {
        margin-top: 1rem;
    }
}

h1+h1 {
    margin-top: 1em;
}

///////////////////////////////////////////////////////////////////////////////////////////



p {
    $map: (500px: 16px, 1000px: 18px);
    @include poly-fluid-sizing('font-size', $map);
    line-height: 1.7;

    & a {
        color: var(--mainTextColor);
        transition: $timing-short;

        &:hover,
        &:focus {
            color: var(--lightTextColor);
        }
    }
}


h1 {
    $map: (500px: 31px, 1500px: 60px);
    @include poly-fluid-sizing('font-size', $map);

    white-space: normal;
}

h2 {
    $map: (500px: 24px, 1500px: 26px);
    @include poly-fluid-sizing('font-size', $map);
}

h3 {
    $map: (500px: 20px, 1500px: 23px);
    @include poly-fluid-sizing('font-size', $map);
}


h4 {
    $map: (500px: 25px, 1500px: 40px);
    @include poly-fluid-sizing('font-size', $map);
}

%small-text {
    $map: (500px: 15px, 1500px: 17px);
    @include poly-fluid-sizing('font-size', $map);
}

%smaller-text {
    $map: (500px: 14px, 1500px: 15px);
    @include poly-fluid-sizing('font-size', $map);
}

%extra-small-text {
    $map: (500px: 12px, 1500px: 12px);
    @include poly-fluid-sizing('font-size', $map);
}