//breakpoints
//between 500px and 1000px
$breakpoint-medium: 'screen and (min-width: 500px) and (max-width: 1100px)';
//between 1000px and 1600px
$breakpoint-large: 'screen and (min-width: 1100px) and (max-width: 1700px)';

//more than 500px
$breakpoint-more-than-small: 'screen and (min-width: 500px)';
//more than 1000px
$breakpoint-more-than-medium: 'screen and (min-width: 1100px)';
//more than 1600px
$breakpoint-more-than-large: 'screen and (min-width: 1700px)';

//transitions
$timing: .15s;
$timing-short: $timing/2;
$timing-medium: $timing*1.5;
$timing-long: $timing*2;

html {
    --boxShadow: 0 15px 50px rgba(50, 50, 93, .1),
        0 5px 35px rgba(0, 0, 0, .07);
    --boxShadowSmall: 0 10px 35px rgba(50, 50, 93, .02),
        0 3px 15px rgba(0, 0, 0, .0125);
    --easing: cubic-bezier(.25, .46, .45, .94);

    &[data-theme="dark"] {
        --boxShadow: 0 15px 30px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .07);
        --boxShadowSmall: 0 10px 35px rgba(50, 50, 93, .5), 0 3px 15px rgba(0, 0, 0, .5);
    }
}