#work-window {
    .window-top-bar {
        background-color: rgba(var(--workColor), 1);
    }

    .window-header {
        background-color: rgba(var(--lightWorkColor), 1);
    }

    .window-padding {
        padding: 1.25rem .75rem;
    }
}

.work-preview-wrapper {
    padding: 1.5rem .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(var(--lightGrey), 1);
    transition: $timing var(--easing);
    text-decoration: none;
    color: rgba(var(--mainTextColor), 1);

    &:last-child {
        border-bottom: unset;
    }

    & .work-preview-arrow {
        height: 17px;
        width: 10px;
        background-color: rgba(var(--mainTextColor), 1);
        mask-image: url(../img/work-arrow.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        transition: $timing var(--easing);
    }

    &:hover,
    &:focus {
        background-color: rgba(var(--lightGrey), 1);

        & .work-preview-arrow {
            transform: translateX(.25rem);
        }
    }
}

.disabled .work-preview-wrapper {
    pointer-events: none;
}

.coming-soon {
    position: relative;
    --coming-soon-text: 'Coming Soon';

    &::after {
        opacity: 0;
        transition: $timing var(--easing);
        position: absolute;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        content: var(--coming-soon-text);
        background: rgba(var(--mainTextColor), 1);
        color: rgba(var(--mainBackgroundColor), 1);
        padding: .5rem 1rem;
        @extend %mono;
    }

    &:nth-of-type(2n)::after {
        transform: translate(-50%, -50%) rotate(-10deg);
    }

    &:nth-of-type(2n-1)::after {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &:hover,
    &:focus {
        & svg {
            transform: translateX(0rem);
        }

        background-color: rgba(var(--windowBackgroundColor), 1);
        cursor: not-allowed;
    }
}

.work-preview-text {
    flex: 1;
    @include stack(.5rem);
}

.work-preview-wrapper {

    h3 {
        @extend %body;
        font-size: var(--type-lg);
        font-weight: 500;
        width: 100%;
    }
}

.work-preview__company-name {
    @extend %mono;
    @extend %smaller-text;
    color: rgba(var(--lightTextColor), 1);
}

.work-preview__description {
    display: none;
}

@media #{$breakpoint-more-than-small} {
    .work-preview-text {
        padding-right: 1.5rem;
    }

    .work-preview-wrapper {
        .work-services {
            display: block;
        }
    }
}

.work-preview-img {
    max-width: 50%;
    height: auto;
}