#project-window {

    & .window-top-bar {
        background-color: var(--grey);
    }

    & .window-header,
    & .window-bottom-bar {
        background-color: var(--lightGrey);
    }

    & .window-padding {
        display: block;
        position: relative;
    }
}