.window-wrapper {
    --window-header-height: 50px;

    height: auto;
    width: calc(100% - .5rem);
    max-height: calc(100% - .5rem);
    overflow: hidden;
    left: .25rem;
    right: .25rem;
    position: absolute;
    pointer-events: all;
    border-radius: 3px;
    box-shadow: var(--boxShadow);
    opacity: 1;
    transition: opacity $timing;
    z-index: 1;

    &.closed {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity $timing, visibility $timing-short $timing-short;
    }

    &.disabled {
        box-shadow: 0px 4px 25px rgba(0, 0, 0, .1);
    }
}

.draggable {
    cursor: move;
}

.window-top-bar {
    height: calc(var(--window-header-height) - 43px);
}

.window-content-wrapper {
    background: rgba(var(--windowBackgroundColor), 1);
    pointer-events: auto;
    height: calc(100% - var(--window-header-height));
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    outline: none;

    @supports (backdrop-filter:saturate(180%) blur(20px)) {
        background-color: rgba(var(--windowBackgroundColor), .8);
        backdrop-filter: saturate(200%) blur(40px);
    }
}


.window-padding {
    padding: .75rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.window-header {
    min-height: calc(var(--window-header-height) - 7px);
    padding: .5rem .75rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.window-title {
    line-height: 1;
    padding-top: .25rem;
    text-transform: capitalize;
    display: none;
    @extend %h2;
}

.traffic-lights {
    display: flex;
    position: absolute;
    top: 50%;
    padding: .25rem 0;
    left: .75rem;
    transform: translateY(-50%);
    cursor: pointer;

    &:focus::after,
    &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        background-size: 100%;
        background-image: url(../img/traffic_lights.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

.traffic-light {
    width: 14px;
    height: 14px;
    border-radius: 50%;

    &+& {
        margin-left: .5rem;
    }

    &-red {
        background-color: rgba(var(--meColor), 1);
    }

    &-yellow {
        background-color: rgba(var(--aboutColor), 1);
    }

    &-green {
        background-color: rgba(var(--resumeColor), 1);
    }
}

.window-wrapper.disabled .traffic-light {
    background-color: rgba(var(--grey), 1);
}

.window-wrapper.disabled .traffic-lights:hover .traffic-light,
.window-wrapper.disabled .traffic-lights:focus .traffic-light {
    &-red {
        background-color: rgba(var(--meColor), 1);
    }

    &-yellow {
        background-color: rgba(var(--aboutColor), 1);
    }

    &-green {
        background-color: rgba(var(--resumeColor), 1);
    }
}

@media #{$breakpoint-more-than-small} {

    .window-wrapper {
        max-width: calc(100% - 1rem);
        --window-header-height: 60px;

    }

    .window-top-bar {
        height: calc(var(--window-header-height) - 51px);
    }

    .window-header {
        min-height: calc(var(--window-header-height) - 9px);
    }

    .window-title {
        display: block;
    }
}