#project-window {

    & .window-top-bar {
        background-color: rgba(var(--grey), 1);
    }

    & .window-header,
    & .window-bottom-bar {
        background-color: rgba(var(--lightGrey), 1);
    }

    & .window-padding {
        display: block;
        position: relative;
    }
}