#work-window {
    --work-window-spacing: 1rem;

    .window-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .window-top-bar {
        background-color: var(--workColor);
    }

    .window-header {
        background-color: var(--lightWorkColor);
    }
}

.disabled .work-preview-wrapper,
.closed .work-preview-wrapper {
    pointer-events: none;
}

.work-preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: var(--work-window-spacing);
    padding: var(--work-window-spacing);
    justify-items: center;
    justify-content: center;
    margin: auto 0;
    transition: all 1s cubic-bezier(.2, .8, .2, 1);
}

.work-preview-wrapper {
    transition: all 1s cubic-bezier(.2, .8, .2, 1);
    text-decoration: none;
    color: var(--mainTextColor);
    width: 100%;

    .work-preview-image-wrapper {
        overflow: hidden;
        transition: inherit;
        position: relative;

        .work-preview-overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: var(--mainBackgroundColor);
            z-index: 1;
            opacity: 0;
            transition: inherit;
            padding: 1rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: var(--mainTextColor);
                opacity: 0;
                transition: inherit;
                z-index: -1;
            }

            span {
                width: 100%;
                @extend %smaller-text;
                @extend %mono;
                flex: 1;
                transition: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: inherit;
                color: var(--windowBackgroundColor);
                transform: translateX(-.5rem);
                opacity: 0;
            }
        }


        img {
            max-width: 260px;
            width: 100%;
            min-width: 200px;
            height: auto;
            display: block;
            transition: inherit;
            will-change: transform;
        }
    }

    .work-preview-text {
        margin-bottom: 1rem;
    }

    h3 {
        @extend %body;
        @extend %h3;
        width: 100%;
        text-align: center;
    }

    &:hover,
    &:focus {
        img {
            transform: scale(1.05) translateY(-2%);
        }

        .work-preview-overlay {
            opacity: 1;

            span,
            p span {
                transform: none;
                opacity: 1;
            }



            &::before {
                opacity: .75;
            }
        }
    }
}