@media screen and (max-width: 500px) {
  .window-wrapper {
    left: calc(50% - (0.5 * var(--width))) !important;
    top: 50% !important;
    transform: translateY(-50%);
  }
}

#resume-window {
  max-width: 470px;
  height: auto;
}

#me-window {
  height: auto;
}

#contact-window {
  height: calc(100% - .5rem);
}

#about-window {
  height: calc(100% - .5rem);
}

#work-window {
  max-width: 430px;
  max-height: 456px;
}

#project-window {
  height: calc(100% - .5rem);
}

//500px and up
@media #{$breakpoint-more-than-small} {
  #resume-window {
    top: calc(100% - 219px - 3rem);
    left: 12%;
  }

  #me-window {
    top: 1rem;
    left: calc(100% - var(--width) - 6rem);
    max-width: 370px;
  }

  #contact-window {
    top: 5%;
    left: calc(50% - (var(--width) / 2));
    height: 600px;
    max-width: 360px;
  }

  #work-window {
    top: 15%;
    left: 3%;
  }

  #about-window {
    height: 650px;
    max-width: 590px;
    top: 10%;
    left: calc(100% - var(--width) - 2rem);
  }

  #project-window {
    width: calc(100vw - 1rem);
    height: calc(100% - 1rem);
    top: 0.5rem;
    left: 0.5rem;
  }
}

//1000px and up
@media #{$breakpoint-more-than-medium} {
  #project-window {
    width: 1210px;
    max-width: calc(100vw - 1rem);
    left: calc(100% - (var(--width) + 2rem));
  }
}