#about-window {

    .window-padding {
        padding: 2rem .75rem;
    }

    .window-top-bar {
        background-color: rgba(var(--aboutColor), 1);
    }

    .window-header,
    .window-bottom-bar {
        background-color: rgba(var(--lightAboutColor), 1);
    }

    .window-padding>* {
        max-width: 47ch;
        margin-left: auto;
        margin-right: auto;
    }
}