{% block html_head %}
{% include 'html-header.twig' %}
</head>
{% endblock %}


<body class="{{body_class}}" id="containment-wrapper" data-template="base.twig">
	<div class="body-wrapper">

		{% block content %}
		Sorry, no content
		{% endblock %}

		{{ function('wp_footer') }}
	</div>
</body>

</html>