{% extends "base.twig" %} {% block content %}


<main class="home-wrapper">
  <h1>
    <a href="#" id="me" class="headline-text-link">Stephen Barkan</a> is a designer excited about web design, branding,
    web development, and design tools.</h1>
  <nav>
    <h1>See <a href="#" id="work"
         class="headline-text-link">my work</a>, learn more <a href="#" id="about" class="headline-text-link">about
        me</a>, read <a href="#" id="resume" class="headline-text-link">my resume</a>, or <a href="#" id="contact"
         class="headline-text-link">contact me</a>.
    </h1>
  </nav>
</main>

<div class="windows-container">
  {% include "partials/_window-me.twig" with {'title': 'me'} %}
  {% include "partials/_window-work.twig" with {'title': 'work'} %}
  {% include "partials/_window-resume.twig" with {'title': 'resume'} %}
  {% include "partials/_window-contact.twig" with {'title': 'contact'} %}
  {% include "partials/_window-about.twig" with {'title': 'about'} %}
  {% include "partials/_window-project.twig" with {'title': 'project'} %}
</div>
<div class="fade-overlay"></div>
<div class="rotate-pls">Please rotate your phone!</div>

<button class="close-all">Close All</button>


<label class="theme-switcher">
  <input
         type="checkbox"
         class="theme-switcher-input"
         id="theme-switcher-input" />
  <div class="theme-switcher-checkbox-ui"></div>
  <span>color theme</span>
</label>

{% endblock %}