<div class="single__wrapper single__wrapper--two-columns">
    <div>
        <div class="single__heading-and-text-heading-wrapper">
            <h3 class="single__heading-and-text-heading">{{item.heading}}</h3>
        </div>
        <div class="single__heading-and-text-text">
            {{item.paragraph}}
        </div>
    </div>

</div>