.single__flexible-content {
    $map: (500px: 60px, 1500px: 150px);
    @include poly-fluid-sizing('--spacing', $map);
    @include stack(var(--spacing));
    padding-bottom: var(--spacing);
}

.single__wrapper {
    max-width: 53rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: .75rem;
    padding-right: .75rem;
}

.single__wrapper--two-columns {
    @include switcher(35rem, 2rem);
}